<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ATIFramebuffer</string>
	<key>CFBundleGetInfoString</key>
	<string>ATIFramebuffer 1.6.6.25 (7429)</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kext.ATIFramebuffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ATI Framebuffer</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.0.6</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Alopias_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Alopias</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DGPIO</key>
				<data>
				AQUAAA==
				</data>
				<key>CFG_PIPES</key>
				<integer>1</integer>
				<key>project_id</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>Cardinal_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Cardinal</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_NO_PP</key>
				<true/>
				<key>CFG_USE_SRRB</key>
				<true/>
				<key>CFG_UUC</key>
				<true/>
				<key>project_id</key>
				<integer>11</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Caretta_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Caretta</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_ASPM</key>
				<false/>
				<key>CFG_DGPIO</key>
				<data>
				AQkAAA==
				</data>
				<key>CFG_UUC</key>
				<true/>
				<key>project_id</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>Flicker_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Flicker</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_NO_PP</key>
				<true/>
				<key>CFG_QUAL_DEF</key>
				<integer>3</integer>
				<key>CFG_QUAL_EN_DEF</key>
				<true/>
				<key>CFG_SHARP_DEF</key>
				<integer>8</integer>
				<key>CFG_USE_SRRB</key>
				<true/>
				<key>CFG_UUC</key>
				<true/>
				<key>project_id</key>
				<integer>10</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Hypoprion_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Hypoprion</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DACAFV</key>
				<data>
				AAACkQ==
				</data>
				<key>CFG_ICGB</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>75</integer>
				<key>CFG_LDITH</key>
				<data>
				ARAAAA==
				</data>
				<key>CFG_NO_PP</key>
				<true/>
				<key>CFG_TAPADV</key>
				<data>
				AAMCHw==
				</data>
				<key>CFG_TAPASV</key>
				<data>
				AAMCHw==
				</data>
				<key>CFG_TATADV</key>
				<data>
				AAEDiA==
				</data>
				<key>CFG_TATASV</key>
				<data>
				AAEDiA==
				</data>
				<key>CFG_TVN_CMC</key>
				<data>
				gAABig==
				</data>
				<key>CFG_TVN_LCTL</key>
				<data>
				AREADQ==
				</data>
				<key>CFG_TVP_CMC</key>
				<data>
				hE8BrA==
				</data>
				<key>CFG_TVP_LCTL</key>
				<data>
				AREADQ==
				</data>
				<key>CFG_TVP_LOL</key>
				<data>
				ACACSQ==
				</data>
				<key>CFG_TVP_YPG</key>
				<data>
				AQABMg==
				</data>
				<key>CFG_UUC</key>
				<true/>
				<key>project_id</key>
				<integer>7</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingLowPercentage</string>
					<key>value</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingMediumPercentage</string>
					<key>value</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringHighPercentage</string>
					<key>value</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringMediumPercentage</string>
					<key>value</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_DynamicPCIEGen2Enabled</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Iago_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Iago</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DACAFV</key>
				<data>
				AAACkQ==
				</data>
				<key>CFG_ICGB</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>75</integer>
				<key>CFG_LDITH</key>
				<data>
				ARAAAA==
				</data>
				<key>CFG_NO_PP</key>
				<true/>
				<key>CFG_TAPADV</key>
				<data>
				AAMCHw==
				</data>
				<key>CFG_TAPASV</key>
				<data>
				AAMCHw==
				</data>
				<key>CFG_TATADV</key>
				<data>
				AAEDiA==
				</data>
				<key>CFG_TATASV</key>
				<data>
				AAEDiA==
				</data>
				<key>CFG_TVN_CMC</key>
				<data>
				gAABiA==
				</data>
				<key>CFG_TVN_YPG</key>
				<data>
				AQABMg==
				</data>
				<key>CFG_TVP_CMC</key>
				<data>
				hE8Bpw==
				</data>
				<key>CFG_TVP_LOL</key>
				<data>
				ACACSQ==
				</data>
				<key>CFG_TVP_YPG</key>
				<data>
				AQABMg==
				</data>
				<key>CFG_UUC</key>
				<true/>
				<key>project_id</key>
				<integer>6</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingLowPercentage</string>
					<key>value</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingMediumPercentage</string>
					<key>value</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringHighPercentage</string>
					<key>value</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringMediumPercentage</string>
					<key>value</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_DynamicPCIEGen2Enabled</string>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Kakapo_Personality </key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Kakapo</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DP_SSPC</key>
				<integer>40</integer>
				<key>CFG_INT_SSPC</key>
				<integer>75</integer>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_QUAL_DEF</key>
				<integer>3</integer>
				<key>CFG_QUAL_EN_DEF</key>
				<true/>
				<key>CFG_SHARP_DEF</key>
				<integer>8</integer>
				<key>project_id</key>
				<integer>13</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Lamna_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Lamna</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_LACFLAGS</key>
				<data>
				AAAABg==
				</data>
				<key>CFG_LACTLB</key>
				<data>
				AAAAAQ==
				</data>
				<key>CFG_LATADC</key>
				<data>
				AAAWAA==
				</data>
				<key>CFG_LATADI</key>
				<data>
				EAAWAA==
				</data>
				<key>CFG_MCIL_DEFER</key>
				<true/>
				<key>CFG_NO_PP</key>
				<true/>
				<key>CFG_TACTLB</key>
				<data>
				AAAAAQ==
				</data>
				<key>CFG_TAPADV</key>
				<data>
				AAEECQ==
				</data>
				<key>CFG_TAPASV</key>
				<data>
				AAEEFQ==
				</data>
				<key>CFG_TATADV</key>
				<data>
				AAAAiA==
				</data>
				<key>CFG_UUC</key>
				<true/>
				<key>CFG_VCLKEMI</key>
				<true/>
				<key>project_id</key>
				<integer>5</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_R600ActivityHysteresis</string>
					<key>value</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingLowPercentage</string>
					<key>value</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingMediumPercentage</string>
					<key>value</key>
					<integer>65</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringHighPercentage</string>
					<key>value</key>
					<integer>40</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringMediumPercentage</string>
					<key>value</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Megalodon_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Megalodon</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_EFUSE</key>
				<true/>
				<key>CFG_LACTLB</key>
				<data>
				AAAAAQ==
				</data>
				<key>CFG_LAPCDC</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_LAPCDI</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_LAPCSCV</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_LAPCSIV</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_NO_PP</key>
				<true/>
				<key>CFG_PCIE_DEMP</key>
				<true/>
				<key>CFG_PPDPM</key>
				<integer>117901063</integer>
				<key>CFG_TACTLB</key>
				<data>
				AAAAAQ==
				</data>
				<key>CFG_VCLKEMI</key>
				<true/>
				<key>project_id</key>
				<integer>9</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingLowPercentage</string>
					<key>value</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingMediumPercentage</string>
					<key>value</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringHighPercentage</string>
					<key>value</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringMediumPercentage</string>
					<key>value</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Mot_Mot_Personality </key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Motmot</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DIG_SSPC</key>
				<integer>16</integer>
				<key>CFG_DP_SSPC</key>
				<integer>40</integer>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_QUAL_DEF</key>
				<integer>3</integer>
				<key>CFG_QUAL_EN_DEF</key>
				<true/>
				<key>CFG_SHARP_DEF</key>
				<integer>8</integer>
				<key>CFG_USE_SRRB</key>
				<true/>
				<key>project_id</key>
				<integer>12</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Peregrine_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Peregrine</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DP_SSPC</key>
				<integer>40</integer>
				<key>CFG_NO_PP</key>
				<true/>
				<key>CFG_QUAL_DEF</key>
				<integer>3</integer>
				<key>CFG_QUAL_EN_DEF</key>
				<true/>
				<key>CFG_SHARP_DEF</key>
				<integer>8</integer>
				<key>CFG_USE_SRRB</key>
				<true/>
				<key>project_id</key>
				<integer>17</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Quail_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Quail</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DP_SSPC</key>
				<integer>40</integer>
				<key>CFG_INT_SSPC</key>
				<integer>75</integer>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_QUAL_DEF</key>
				<integer>3</integer>
				<key>CFG_QUAL_EN_DEF</key>
				<true/>
				<key>CFG_SHARP_DEF</key>
				<integer>8</integer>
				<key>CFG_USE_SRRB</key>
				<true/>
				<key>project_id</key>
				<integer>14</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Raven_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Raven</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DP_SSPC</key>
				<integer>40</integer>
				<key>CFG_INT_SSPC</key>
				<integer>75</integer>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_QUAL_DEF</key>
				<integer>3</integer>
				<key>CFG_QUAL_EN_DEF</key>
				<true/>
				<key>CFG_SHARP_DEF</key>
				<integer>8</integer>
				<key>CFG_USE_SRRB</key>
				<true/>
				<key>project_id</key>
				<integer>15</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Shrike_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Shrike</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_DP_SSPC</key>
				<integer>40</integer>
				<key>CFG_INT_SSPC</key>
				<integer>75</integer>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_QUAL_DEF</key>
				<integer>3</integer>
				<key>CFG_QUAL_EN_DEF</key>
				<true/>
				<key>CFG_SHARP_DEF</key>
				<integer>8</integer>
				<key>CFG_USE_SRRB</key>
				<true/>
				<key>project_id</key>
				<integer>18</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Sphyrna_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Sphyrna</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_ASPM</key>
				<false/>
				<key>project_id</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>Triakis_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Triakis</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_EFUSE</key>
				<true/>
				<key>CFG_LACTLB</key>
				<data>
				AAAAAQ==
				</data>
				<key>CFG_LAPCDC</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_LAPCDI</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_LAPCSCV</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_LAPCSIV</key>
				<data>
				AAAAAA==
				</data>
				<key>CFG_TACTLB</key>
				<data>
				AAAAAQ==
				</data>
				<key>CFG_UUC</key>
				<true/>
				<key>CFG_VCLKEMI</key>
				<true/>
				<key>project_id</key>
				<integer>8</integer>
			</dict>
			<key>aty_properties</key>
			<array>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingLowPercentage</string>
					<key>value</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600RaisingMediumPercentage</string>
					<key>value</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringHighPercentage</string>
					<key>value</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_R600LoweringMediumPercentage</string>
					<key>value</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>PP_GFXClockGatingEnabled</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Wormy_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATIFramebuffer</string>
			<key>IOClass</key>
			<string>ATIFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>ATY,Wormy</string>
			<key>IOProbeScore</key>
			<integer>65000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_ICGB</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>75</integer>
				<key>CFG_UUC</key>
				<true/>
				<key>project_id</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.2</string>
		<key>com.apple.kext.ATISupport</key>
		<string>1.1.33</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
